<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Facebook-like Page</title>
    <link rel="stylesheet" type="text/css" href="./homepage.css">
</head>
<body>
<h1>Welcome to Facebook-like Page</h1>
<form method="post" th:action="@{/post}" th:object="${post}">
    <label for="post"><textarea th:field="*{content}" id="post" name="content" placeholder="Write your post here..."></textarea></label>
    <!-- Add a hidden field to store the user's ID -->
<!--    <input type="hidden" th:name="post.users.id" th:value="${post.users.id}" />-->
    <button type="submit">Post</button>
</form>


<ul>
    <li>
        Post 1: This is the first post.
        <form th:action="@{/postlist}" method="post">
            <input type="hidden" name="post_id" value="1" />
            <button type="submit">Like</button>
        </form>
        <form th:action="@{/}" method="post">
            <input type="hidden" name="post_id" value="1" />
            <input type="text" name="comment_content" placeholder="Write your comment here..." />
            <button type="submit">Comment</button>
        </form>
        <ul>
            <li class="comment">User1: This is a comment.</li>
        </ul>
    </li>
</ul>
</body>
</html>
